@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Roboto;
}

.ant-btn-primary {
  background-color: #ff9c6e;
}

.ant-drawer-menu .ant-menu-item:hover {
  color: inherit;
}

/* .custom-table-class tbody {
  max-height: calc(50vh - 2.5em);
  width: 100%;
} */
