@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Roboto;
}

.ant-btn-primary {
  background-color: #3C50E0;
}

.ant-drawer-menu .ant-menu-item:hover {
  color: inherit;
}

.title {
  font-size: 0.85rem; /* 12px */
  line-height: 1rem;
  font-weight: 800;
}

.information {
  font-size: 0.85rem; /* 12px */
  line-height: 1rem;
}

.dotted-line {
  border-style: dotted;
  border-width: 1px;
}

/* .custom-table-class tbody {
  max-height: calc(50vh - 2.5em);
  width: 100%;
} */
